.header{
    display: flex;
    /* sets how a flex item will grow or 
    shrink to fit the space available in its flex container. */
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 999;
    /* border: 1px solid black; */
    /* sticks to top */
    background-color:rgb(230, 230, 230);
    /* position: fixed; */
}
/* target image only; targeting whole div would not make much sense here */
.header_left{
    display: flex;
}

.header_left > img {
    object-fit: contain; 
    /* keeps the aspect ratio */
    height: 40px;
    margin-right: 10px;
}

.header_search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 20px;
    color: gray;
    background-color: #eef3f8;

}

.header_search > input {
    outline: none;
    border: none;
    background: none;
}

.header_right{
    display: flex;


}

.header_profile{
    display: flex;
    /* sets how a flex item will grow or 
    shrink to fit the space available in its flex container. */
    justify-content: space-around;
    padding-bottom: 10px;
    margin: 0%;
    margin-left: 0px;

}